*.pyc
.vscode/
.*.swp
*.vrs
*.pt
*.mp4

run_vjepa_aws.py
main_distributed_video.py
main_video.py

app/vjepa/configs/temp_aws
app/main_dev.py
app/main_distributed_dev.py
evals/ava/alphaction/data

run_evals.py
run_evals_v2.py
run_pretrain.py

*.egg-info/
*.ipynb_checkpoints/

traces/
third_party/*

evals/simu_env_planning/local/
evals/simu_env_planning/docker2/
evals/simu_env_planning/docker/
app/vjepa_droid/local/
app/vjepa_droid_v2/local/
app/vjepa_droid_v3/local/
app/vjepa_droid_v4/local/
configs/local
data/*
archive/*
checkpoints/*
model_checkpoints/*
model_checkpoints/vjepa2_1_vitl_dist_vitG_384.pt
*.zip

results/archive/*
.DS_Store
.claude